
html{
  height:100%;
  width:100%;
}
h1 {
  transform: scale(1,1);
  font-weight: bold;
  /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
  text-shadow: 2px 2px,5px, gold;
}

body {
  height:100vh;
  width: 100%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  /*background-image: Linear-gradient(rgb(43, 0, 255), yellow, rgb(29, 214, 29));*/
  background-image: url("./Capture.PNG");
  box-shadow: 0px 0px 15px blueviolet;
  animation-name: example ;
  animation-duration: 4s;
  background-position: center;
  z-index: 1;
}


.x-btn:focus, .button:focus, [type="submit"]:focus {
  outline: white;
} 