
.angleLabel {
    position: absolute;
    left: 420px;
    top: 210px;
}
.angleBox {
    position: absolute;
    left: 500px;
    top: 210px;
}

.distanceLabel {
    position: absolute;
    left: 375px;
    top: 310px;
}
.distanceBox {
    position: absolute;
    left: 500px;
    top: 310px;
}

.sendAngle {
    position: absolute;
    left: 700px;
    top: 200px;
}

.sendDistance {
    position: absolute;
    left: 700px;
    top: 300px;
}

.header {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.automated {
    position: absolute;
    left: 60px;
    top: 150px;
}

.manual {
    position: absolute;
    left: 500px; /*370*/
    top: 150px;
}

.arrow {
    position: absolute;
    left: 900px; /*370*/
    top: 150px;
}

.automationMode {
    position: absolute;
    left: 70px;
    top: 210px;
}

.returntobase {
    position: absolute;
    left: 80px;
    top: 280px;
}

.stop {
    position: absolute;
    left: 120px;
    top: 350px;
}


.viewmap {
    position: absolute;
    left: 80px;
    top: 80px;
}

.leftarrow {
    position: absolute;
    left: 910px;
    top: 280px;
}
.rightarrow {
    position: absolute;
    left: 1090px;
    top: 280px;
}
.toparrow {
    position: absolute;
    left: 1000px;
    top: 210px;
}

.bottomarrow {
    position: absolute;
    left: 1000px;
    top: 350px;
}

.stop_arrowkey{
    position: absolute;
    left: 994.5px;
    top: 280px;
}
.div{
    position: relative;
}
.image{
    position: absolute;
    background-image: url('./white.PNG');
    top: 200px;
    left: 890px;
    opacity: 0.9;
    width: 280px;
    height: 210px;
    border-radius:50%;

}

.div2{
    position: relative;
}
.hello{
    position: absolute;
    top:400px;
    left: 51px;
    z-index: 1;
    animation: myfirst 20s infinite;
    animation-direction: alternate;

    

}
@keyframes myfirst {
    0%   {left: 0px; top: 300px;}
    25%  {left: 900px; top: 300px;}
    50%  {left: 900px; top: 300px;}
    75%  {left: 0px; top: 300px;}
    100% {left: 0px; top: 300px;}
  }



