h1 {
    animation-name: example;
    animation-duration:  4s;
    position: relative;
    animation-iteration-count: infinite;
    font-size: 40px;
    text-align: center;
}
p1{
    font-family: Tahoma, Verdana, sans-serif;
    size: 20px;
    text-align: center;
    color: white;
}
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
@keyframes example {
    0%   {color: red;}
    10%  {color: orange;}
    20%  {color: yellow;}
    50% {color: rgb(132, 17, 132);}
    75%  {color: rgb(190, 23, 145);}
    100%  {color: rgb(221, 53, 15);}
}
  